// @import "../../style/variables.less";
@import "../../app/style/variables.less";

@overlayMargin: 0;
@selectionBorderSize: 16px;
@selectionDuration: 0.1s;

.Picture {
    position: absolute;
    display: block;
    overflow: hidden;
    background-color: @blue-grey-800;  // Loading background
    user-select: none;
}

.Picture-thumbnail {
    width: 100%;
    height: 100%;
    pointer-events: none;  // Disable image dragging
    opacity: 1;
    border: 0 solid @blue-grey-100;
    transition: opacity 0.2s ease-in, border-width @selectionDuration ease-in;

    .Picture.isLoading & {
        opacity: 0;
    }
    .Picture.hasSelectionBorder & {
        border-width: @selectionBorderSize;
    }
}

.Picture-spinner,
.Picture-error {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}
.Picture-error {
    text-align: center;

    svg {
        margin-bottom: 15px;
    }

    &.isSmall {
        font-size: 12px;

        svg {
            margin-bottom: 5px;
        }
    }
}

.Picture-icon {
    color: white;
    font-size: @selectionButtonSize;
}

.Picture-overlay {
    position: absolute;
    line-height: 0;

    color: white;
    padding: 10px !important;

    .bp3-icon,
    .Picture-icon {
        color: white !important;
        margin: 0 !important;
        background-color: rgba(0, 0, 0, .2) !important;
        border-radius: 2px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .7) !important;
    }

    &.bp3-button {
        margin: 0 !important;

        .bp3-icon,
        .Picture-icon {
            color:rgba(255, 255, 255, .7) !important;
        }

        &:hover {
            background-color: rgba(128, 128, 128, .2) !important;

            .bp3-icon,
            .Picture-icon {
                color: white !important;
                background-color: transparent !important;
                box-shadow: none !important;
            }
        }
    }
    .bp3-button-text {
        margin: 0;
    }
}

.Picture-favorite {
    left: @overlayMargin;
    bottom: @overlayMargin;
    transition: left @selectionDuration ease-in, bottom @selectionDuration ease-in;

    .Picture.hasSelectionBorder & {
        left: @overlayMargin + @selectionBorderSize;
        bottom: @overlayMargin + @selectionBorderSize;
    }
}

.Picture-showDetails {
    right: @overlayMargin;
    top: @overlayMargin;
    transition: right @selectionDuration ease-in, top @selectionDuration ease-in;

    .Picture.hasSelectionBorder & {
        right: @overlayMargin + @selectionBorderSize;
        top: @overlayMargin + @selectionBorderSize;
    }
}

.Picture-toggleSelection {
    right: @overlayMargin;
    bottom: @overlayMargin;
}
.Picture.hasSelectionBorder .Picture-toggleSelection .Picture-icon {
    opacity: 1 !important;
}

.Picture-activeBorder,
.Picture-preselectedBorder {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border: 4px solid @deep-orange-500;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .5);
}
.Picture-preselectedBorder {
    border-width: 1px;
}
